{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            {# Здесь должен быть раздел с сортировкой #}
        </div>

        <div class="content">
            {# Здесь должен отображаться каталог с телефонами #}
            <ul>
                <table class="u-full-width" border="3px solid black">
                    <thead>
                        <tr>
                            {% for iter in callables %}
                                <th><b>{{ iter}}</b></th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for phone in phones %}
                            <tr>
                                <td>{{phone.name}}</td>
                                <td>{{phone.image}}</td>
                                <td>{{phone.price}}</td>
                                <td>{{phone.release_date}}</td>
                                <td>{{phone.lte_exist}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

            </ul>
        </div>
    </div>
{% endblock %}