{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            <ul>
                <table class="u-fill-width" border="1px solid black">
                    <tbody>
                        <tr>
                            <td><h4>Сортировка</h4></td>
                            <td><a href="?sort=name">По названию</a></td>
                            <td><a href="?sort=min_price">Цена по возрастанию</a></td>
                            <td><a href="?sort=max_price">Цена по убыванию</a></td>
                        </tr>
                    </tbody>
                </table>
            </ul>
            {# Здесь должен быть раздел с сортировкой #}
        </div>

        <div class="content">
            {# Здесь должен отображаться каталог с телефонами #}
            <ul>
                <table class="u-full-width" border="3px solid black">
                    <thead>
                        <tr>
                            {% for iter in callables %}
                                <th><b>{{ iter}}</b></th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for phone in phones %}
                            {% url 'phone.image' as the_url %}
                            <tr>
                                <td><a href="{{ phone.slug }}"> {{ phone.name}} </a></td>
                                <td><a href="{{ phone.image }}">Image link</a></td>
                                <td>{{phone.price}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

            </ul>
        </div>
    </div>
{% endblock %}